._1pg0.RBZg i{
    background-color: #4e81bb;
}
._1pg0._3kg_ i{
    background-color: #ff1e02;
}
._1pg0._23pZ i{
    background-color: #f9974c;
}

.bg {
    background: url("https://qimiao.net/zb_users/plugin/xc_toolbox/tool/play_eluosifangkuais/0.png") no-repeat;
    overflow: hidden
}
